{% include base_path %}

<h2 style="clear: both;">Experiences</h2>
<div id="timeline">
  <div class="timelineitem">
    <div class="tdate">2026.2 -</div>
    <h3 class="ttitle">Assistant Professor, School of Artificial Intelligence, Shenzhen University, Shenzhen</h3>
    <div class="tdesc"></div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2023.7 - 2026.3</div>
    <h3 class="ttitle">Researcher and postdoctoral fellow, Sangfor Technologies & Chinese Academy of Sciences, Shenzhen</h3>
    <div class="tdesc"></div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2022.12 - 2023.2</div>
    <h3 class="ttitle">Research intern, International Digital Economy Academy (IDEA), Shenzhen</h3>
    <div class="tdesc">Mentor: <a href="https://www.cs.cmu.edu/~yuqingt/" target="_blank">Dr. Yuqing Tang</a>.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2020.8 - 2022.7</div>
    <h3 class="ttitle">Research intern, Computer Vision and Multimedia Lab at JD Explore Academy, Beijing</h3>
    <div class="tdesc">Star intern award. Mentor: <a href="http://home.ustc.edu.cn/~panywei/" target="_blank">Dr. Yingwei Pan</a> and <a href="http://tingyao.deepfun.club/" target="_blank">Dr. Ting Yao</a>.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2015.7 - 2018.7</div>
    <h3 class="ttitle">Software engineer, DJI, Shenzhen</h3>
    <div class="tdesc"></div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2013.8 - 2015.5</div>
    <h3 class="ttitle">Research assistant, Systems Engineering Institute of XJTU, Xi'an</h3>
    <div class="tdesc">Mentor: <a href="https://gr.xjtu.edu.cn/en/web/cshen" target="_blank">Prof. Chao Shen</a>.</div>
  </div>
</div>

<h2 style="clear: both;">Education</h2>
<div class="timeline">
  <div class="timelineitem">
    <div class="tdate">2018.8 - 2023.7</div>
    <h3 class="ttitle">Ph.D in Computer and Information Engineering, The Chinese University of Hong Kong, Shenzhen (CUHK-SZ)</h3>
    <div class="tdesc">Joint Ph.D program with JD.com.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2011.8 - 2015.6</div>
    <h3 class="ttitle">B.Eng. in Automation, Xi'an Jiaotong University (XJTU)</h3>
    <div class="tdesc">GPA top 5%.</div>
  </div>
</div>
